<nav>
	<a href="/">
		{% if site.data.theme.social.gravatar %}
		<img src="https://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="{{site.data.theme.name}}"/>
		{% else %}
		<img src="/logo.png" id="logo" width="200"/>
		{% endif %}
	</a>
	<h2><a href="/">{{ site.data.theme.title }}</a></h2>
	<h3 style="text-align:center">{{site.data.theme.name}}</h3>
	<h6 style="text-align:center">{{site.data.theme.tagline}}</h6>

	<div class="sidebar-module">
		{% include pages.html %}
	</div>

	<div class="sidebar-module">
		{% include keyboard.html %}
	</div>

	<div class="sidebar-module">
		{% include contact.html %}
	</div>

	<div id="social">
		{% include social.html %}
	</div>
</nav>
